<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="list.css">
    <title>Match Listing</title>
</head>
<body>
    <header>
        <h1>Match Listing</h1>
    </header>
    <main>
        <section id="friend-list">
            <!-- Friends profiles will be displayed here -->
        </section>
    </main>
    <footer>
        <p>&copy; 2023  Listing</p>
    </footer>
    <script src=""></script>
</body>
</html>
