{{!-- this is like a wrapper around other html pages that we use --}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>

<body>
  <header>
    <h1>
      this is a main header we can change leater
    </h1>
    <!-- Only display the logout button if the user is logged in -->
    {{#if logged_in}}
   
    {{/if}}
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>

  <!-- Only include the logout script if the user is logged in -->
  {{#if logged_in}}
  <script src=""></script>
  {{/if}}
</body>

</html>
