<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Profile</title>
  <link rel="icon" href="/views/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/css/profile.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
</head>

<body class="bg">
  <div class="video-container">
    <video class="video-bg" autoplay loop muted>
      <source src="css/images/video10.mp4" type="video/mp4">
    </video>
  </div>
  <section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
          <div class="card">
            <div class="rounded-top text-black d-flex flex-row" style="background-color: #ffd85d; height:200px;">
              <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                  alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                  style="width: 150px; z-index: 1">
                <button type="button" class="btn btn-outline-white" data-mdb-ripple-color="dark" style="z-index: 1;">
                  Edit profile
                </button>
              </div>
              <div class="ms-3" style="margin-top: 130px;">
                <h3>Andy Horwitz</h3>
                <h5><img src="/css/images/cruise.png"> Cruising: The Bahamas</h5>
              </div>
            </div>
            <div class="p-4 text-grey" style="background-color: 	#bff0e5;">
              <div class="d-flex justify-content-end text-center py-1">
                <div>
                  <p class="mb-1 h5">8</p>
                  <p class="small text-grey mb-0">Cruises</p>
                </div>
                <div class="px-3">
                  <p class="mb-1 h5">1026</p>
                  <p class="small text-grey mb-0">Followers</p>
                </div>
                <div>
                  <p class="mb-1 h5">478</p>
                  <p class="small text-grey mb-0">Following</p>
                </div>
              </div>
            </div>
            <br>
            <div class="card-body p-4 text-black">
              <div class="mb-5">
                <h3 class="lead fw-normal mb-1">About me:</h3>
                <div class="p-4" style="background-color: 	#bff0e5;, justify-content-end">
                  <ul>
                  <li class="font-italic mb-1">Web Developer</li>
                  <li class="font-italic mb-1">Lives in New York</li>
                  <li class="font-italic mb-0">Photographer</li>
                  </ul>
                </div>
                <br>
              <div class="mb-5">
                <h3 class="lead fw-normal mb-1">Looking for someone to... <img src="/css/images/heart.png"></h3>
                <div class="p-4" style="background-color: 	#bff0e5;">
                  <ul class = "checkmark">
                  <li class="font-italic mb-1">To travel the seas together.</li>
                  <li class="font-italic mb-1">Cook tasty food together and watch the sunset.</li>
                  </ul> 
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="lead fw-normal mb-0">Cruise Photos <img src="/css/images/camera.png"></p>
                <p class="mb-0"><a href="#!" class="text-muted">Show all</a></p>
              </div>
              <div class="row g-2">
                <div class="col mb-2">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(112).webp" alt="image 1"
                    class="w-100 rounded-3">
                </div>
                <div class="col mb-2">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(107).webp" alt="image 1"
                    class="w-100 rounded-3">
                </div>
              </div>
              <div class="row g-2">
                <div class="col">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(108).webp" alt="image 1"
                    class="w-100 rounded-3">
                </div>
                <div class="col">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(114).webp" alt="image 1"
                    class="w-100 rounded-3">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
    </script>
    <script src="/js/hero.js"></script>
  <footer>
    <div class="container"> 
      <p>  ©2023 Ship Mate. All rights reserved.</p>
      <img src="/css/images/cruisemate.jpg" width = '5%' height = '8%'>

    </div>
  </footer>
</body>

</html>