<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="icon" href="/views/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/css/handlebars.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body class="bg">
  <form>
     <h5>Applications</h5>
       <section>
        <p>
        Used:
        </p>
       </section>
       <section>
        <p>
          Node.js, Handlebars, mySQL, Css, Bootstrap, Express.js
        </p>
       </section>
       <section>
        <p>
           Project Repo:<a href="https://github.com/pkykev/grp_project2" target="_blank">link</a>
        </p>
       </section>
       <div>_________________________</div>
        <h5>Sources</h5>
       <section>
        <p>
          Favicon Converter:<a href="https://favicon.io/favicon-converter/" target="_blank">Link</a>
        </p>
       </section>
       <section>
        <p>
          Bing Image Creator:<a href="https://www.bing.com/create" target="_blank">Link</a>
        </p>
       </section>
       <section>
        <p>
          Css Gradient Styling(Warren Davies):<a href="https://alvarotrigo.com/blog/animated-backgrounds-css/" target="_blank">Link</a>
        </p>
       </section>
       <section>
        <p>
          Bootstrap:<a href="https://getbootstrap.com/" target="_blank">Link</a>
        </p>
       </section>
  </form>
   

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
    </script>
  <!-- need to add js logic -->
  <script src=""></script>

   <footer>
    <div class="container"> 
      <p>&copy;  2023 Ship Mate. All rights reserved.	&#xf13d;</p>

    </div>
  </footer>


</body>


</html>