
body, h1, h2, h3, p, ul, li, img {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}
header h3 {
  color: white
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header */
.hero {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
}

.video-bg {
  width: 33.333%;
  object-fit: cover;
  height: 100%;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}

/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  margin-right: 20px;
}

.nav-list li:last-child {
  margin-right: 0;
}

.nav-list li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.nav-list li a:hover {
  color: #f5c518;
} */

/* Hero Content */
.hero-content {
  margin-top: 50px;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  color: #f0f0f0;
  margin-bottom: 40px;
}

/* Buttons */
.btn {
  display: inline-block;
  background-color: #f5c518;
  color: #fff;
  padding: 12px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #e0b810;
}

/* About Section
.about {
  background-color: #f5f5f5;
  padding: 100px 0;
  text-align: center;
}

.about h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about p {
  font-size: 18px;
  color: #666;
  margin-bottom: 40px;
}

/* Featured Cruises Section */
/* .featured-cruises {
  padding: 100px 0;
  text-align: center;
}

.featured-cruises h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.cruise-card {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  margin: 0 20px;
  display: inline-block;
  text-align: center;
} */


footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 20px 0;
} 