.button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.content-container {
  display: flex;
  gap: 20px; 
  padding: 20px; 
  justify-content: center; 
  align-items: center; 
}

.form-content {
  flex: 1; 
}

.card-container {
  flex: 1; 
  max-height: 250px; 
  overflow-y: auto;
  border: 5px solid #929292;
  padding: 10px;
}

/* Media Queries for Small Screens */
@media (max-width: 576px) {
  .form-container {
    padding: 10px;
  }
  
  .form-content {
    margin-top: 0; /* Reset margin-top for small screens */
  }
}





















