.page-title {
    text-align: center; /* Center horizontally */
    margin-bottom: 0%;
}
.div-header {
    text-align: center; /* Center horizontally */
    padding-top: 0%; /* Center vertically */
    color: rgb(252, 252, 252);
  }

  .header h1 {
    margin: 0; /* Remove default margin to avoid extra space */
  }

  .fa {
    color: #fff;
    margin-left: 5rem;
  }

  #recieve {
    background-color: aqua;
  }

  #send {
    background-color: orange;
  }

